extends template
block content
    div.main
        | Hello #{login}! &#128521;
        br
        | Password changed successfully!
        br
        | Your login: #{login}
        br
        | Your password: #{password}
