extends template
block content
    div.main
        | Hello!
        br
        | Account #{login} successfully created &#128521;
        br
        | Your login: #{login}
        br
        | Your password: #{password}
        hr
