extends template
block content
    div.main
        | Hello #{login}! &#128521;
        br
        | To reset your password, follow the link below:
        br
        a(href=forgotPasswordUrl) Click here!
