doctype html
html
    head
        style
            include style.css
    body
        div
            block content
        div.footer
            | Best regards
            br
            | Good Mood Shop &#127875;
            br
            |
            a(href='https://www.google.com.ua/') Click here
